<h3>Create Movie</h3>
<div [hidden]="!isLoggedIn">
  <div [hidden]="submitted" style="width: 400px; margin: auto;">
    <form (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="movie.title" name="title"
               #title="ngModel">
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && title.invalid">
        Enter movie title!
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" required [(ngModel)]="movie.author" name="author"
               #author="ngModel">
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && author.invalid">
        Enter movie author!
      </div>

      <button type="submit" class="btn btn-success" style="width: 100%; margin: 10px auto;">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
  </div>
</div>
<div [hidden]="isLoggedIn">
  <h4>You have no access here!</h4>
</div>
