<h2>Edit Movie - {{movie.title}} </h2>

<hr/>
<form (ngSubmit)="onSubmit()">
  <div *ngIf="movie">
    <div class="controls">
      <label><b>New title</b></label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="movie.title" name="title">
    </div>
    <br>
    <div class="controls">
      <label><b>New author</b></label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="movie.author" name="author">
    </div>
  </div>
  <br>
  <div class="buttons">
    <button type="submit" class="btn btn-success">Update movie</button>
    <button (click)="list()" class="btn btn-primary">Back to Movie List</button><br>
  </div>
</form>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
<div [hidden]="isLoggedIn">
  <h4>You have no access here!</h4>
</div>
