<hr/>
<h2>Create Seanse</h2>
<hr/>
<header class="jumbotron">
  <div [hidden]="!isLoggedIn">
    <div [hidden]="submitted" style="width: 600px; margin: auto;">
      <h4>Please provide informations about the seanse.</h4><br>
      <hr/>
      <form (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
        <div class="form-group">
          <label for="movie">Select movie</label>
          <select class="form-control" id="movie" required [(ngModel)]="screening.movie" name="movie" #movie="ngModel">
            <option *ngFor="let movie of movies | async" [ngValue]="movie">{{movie.title}}</option>
          </select>
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && movie.invalid">
          Choose a movie!
        </div>

        <div class="form-group">
          <label for="hall">Hall</label>
          <select class="form-control" id="hall" required (change)="checkHallAvailability()"
                  [(ngModel)]="screening.hall" name="hall" #hall="ngModel">
            <option *ngFor="let hall of halls | async" [ngValue]="hall">
              Hall {{hall.id}}</option>
          </select>
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && hall.invalid">
          Choose a hall!
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="!isHallAvailable">
          Selected hall is disabled! Choose another one.
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" class="form-control" id="date" required [(ngModel)]="screening.date" name="date"
                 #date="ngModel">
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && date.invalid">
          Enter seanse date!
        </div>
        <hr/>
        <button type="submit" class="btn btn-success" style="width: 100%; margin: 10px auto;">Submit</button>
      </form>
    </div>

    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>
    </div>
  </div>
  <div [hidden]="isLoggedIn">
    <h4>You have no access here!</h4>
  </div>
</header>
