<hr/>
<h2>User board</h2>
<hr/>
<div class="container">
  <header class="jumbotron">
    <div [hidden]="!isLoggedIn">
      <div [hidden]="deleteMode">
        <h3>If you made any reservation, it'll be listed below</h3>
        <hr/>
        <div *ngFor="let reservation of reservations | async">
          <div *ngFor="let screening of screenings | async">
            <div class="reservation-info" *ngIf="reservation.screening === screening.id">
              <hr/>
              <h5>Movie title</h5>
              <label>{{screening.movie.title}}</label>
              <hr/>
              <h5>Hall number</h5>
              <label>{{screening.hall.id}}</label>
              <hr/>
              <h5>Seanse date</h5>
              <label>{{screening.date}}</label>
              <hr/>
              <h5>Number of tickets</h5>
              <label>{{reservation.tickets}}</label><br>
              <hr/>
              <button (click)="enterDeleteing(reservation.id)" class="btn btn-danger">Cancel reservation</button>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>

    <div class="delete-panel" [hidden]="!deleteMode">
      <h2>Please confirm your reservation cancellation.</h2>
      <hr/>
      <button (click)="cancelReservation(deleteId)" class="btn btn-danger">Confirm</button>
      <button (click)="quitDeleting()" class="btn btn-secondary">Back</button>
    </div>

    <div [hidden]="isLoggedIn">
      <h4>You have no access here!</h4>
    </div>
  </header>
</div>
