<hr/>
<h2>Movies List</h2>
<hr/>
<header class="jumbotron">
  <div class="panel panel-primary" *ngIf="!deleteMode">
    <button id="new" (click)="gotoCreate()" class="btn btn-success" *ngIf="showAdminBoard">Create new</button>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies | async">
          <td>{{movie.title}}</td>
          <td>{{movie.author}}</td>
          <td class="buttons">
            <button (click)="movieDetails(movie.id)" class="btn btn-warning">Details</button>
            <button (click)="movieEdit(movie.id)" class="btn btn-dark" *ngIf="showAdminBoard">Edit</button>
            <button (click)="enterDeleteing(movie)" class="btn btn-danger" *ngIf="showAdminBoard">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="delete-panel" *ngIf="showAdminBoard && deleteMode">
    <h2>Please confirm movie deletion.</h2>
    <hr/>
    <p><strong>Movie info:</strong><br>
      Title: "{{movieToDelete.title}}"<br>
      Author: {{movieToDelete.author}}<br>
      Year: {{movieToDelete.year}}<br>
      Duration: {{movieToDelete.duration}}</p>
    <hr/>
    <button (click)="movieDelete(movieToDelete)" class="btn btn-danger" *ngIf="showAdminBoard">Delete</button>
    <button (click)="quitDeleting()" class="btn btn-secondary" *ngIf="showAdminBoard">Cancel</button>
  </div>
</header>
