<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Movies List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of movies | async">
        <td>{{movie.title}}</td>
        <td>{{movie.author}}</td>
        <td class="buttons">
          <button (click)="movieDetails(movie.id)" class="btn btn-info">Details</button>
          <button (click)="movieEdit(movie.id)" class="btn btn-info" *ngIf="showAdminBoard">Edit</button>
          <button (click)="movieDelete(movie)" class="btn btn-info" *ngIf="showAdminBoard">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
