.nav_bar
  background-color: dodgerblue

.navbar-brand
  font-weight: bold
  color: darkblue
  font-size: 30px
  transition: 2500ms

.navbar-brand:hover
  color: lightgoldenrodyellow
  transition: 350ms

.nav-item
  text-align: center

.nav-item a
  color: black
  font-weight: bolder
  text-align: center
  padding: 0 20px 0 20px
  transition: 1500ms

.nav-item a:hover
  color: white
  transition: 200ms

.navi_block
  margin: auto

.login_block *
  border: none
  font-size: 20px

.login_block ul li:hover
  color: white
