.nav_bar
  background: linear-gradient(90deg, #03a9f4, #008ec7, #0096c2, #03a9f4)
  background-size: 400%
  animation: animate 18s alternate infinite
  min-height: 80px
  min-width: 1200px

.navbar-brand
  font-weight: bold
  color: darkblue
  font-size: 30px
  transition: 2500ms

@keyframes animate
  0%
    background-position: 0%
  100%
    background-position: 400%

.navbar-brand:hover
  color: lightgoldenrodyellow
  transform: translate(15%, 0)
  transition: 300ms

.nav_bar:before
  content: ''
  position: absolute
  top: -5px
  left: 0
  right: 0
  bottom: 0px
  z-index: -1
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4)
  background-size: 400%
  border-radius: 80px
  opacity: 0
  transition: 1000ms

.nav_bar:hover:before
  filter: blur(20px)
  opacity: 1
  animation: animate 30s alternate infinite

.nav-item
  text-align: center

.nav-item a
  color: black
  font-weight: bold
  text-align: center
  padding: 0 20px 0 20px
  transition: 600ms

.nav-item a:hover
  color: white
  transition: 200ms
  transform: translate(0, 15%)

.navi_block_logged
  margin: auto
  transform: translate(54%)

.navi_block_logout
  margin: auto
  transform: translate(20%)

.login_block *
  margin: auto
  border: none
  font-size: 20px

.login_block ul li:hover
  color: white

.login_block .nav-item a:hover
  color: white

.boards a
  font-size: medium
  color: black
  transition: 600ms

.boards a:hover
  color: white
  transition: 200ms
  transform: translate(0, 15%)
