<hr/>
<h2>Movie Details - "{{movie.title}}"</h2>
<hr/>
<header class="jumbotron">
  <div *ngIf="movie" class="movieInfo">
    <div>
      <strong>Title</strong><br>
      <label>{{movie.title}}</label>
    </div>
    <hr/>
    <div>
      <strong>Author</strong><br>
      <label>{{movie.author}}</label>
    </div>
    <hr/>
    <div>
      <strong>Description</strong><br>
      <label>{{movie.description}}</label>
    </div>
    <hr/>
    <div>
      <strong>Year</strong><br>
      <label>{{movie.year}}</label>
    </div>
    <hr/>
    <div>
      <strong>Country</strong><br>
      <label>{{movie.country}}</label>
    </div>
    <hr/>
    <div>
      <strong>Duration</strong><br>
      <label>{{movie.duration}} minutes</label>
    </div>
  </div>

  <br>
  <button (click)="list()" class="btn btn-primary">Back to Movie List</button>
</header>
