<hr/>
<h2>Movie Details - "{{movie.title}}"</h2>
<hr/>
<header class="jumbotron">
  <div *ngIf="movie" class="movieInfo">
    <div>
      <b>Title</b><br>
      <label>{{movie.title}}</label>
    </div>
    <hr/>
    <div>
      <b>Author</b><br>
      <label>{{movie.author}}</label>
    </div>
    <hr/>
    <div>
      <b>Description</b><br>
      <label>{{movie.description}}</label>
    </div>
    <hr/>
    <div>
      <b>Year</b><br>
      <label>{{movie.year}}</label>
    </div>
    <hr/>
    <div>
      <b>Country</b><br>
      <label>{{movie.country}}</label>
    </div>
    <hr/>
    <div>
      <b>Duration</b><br>
      <label>{{movie.duration}} minutes</label>
    </div>
  </div>

  <br>
  <button (click)="list()" class="btn btn-primary">Back to Movie List</button>
</header>
