<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Repertoire</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Movie</th>
        <th>Room</th>
        <th>Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let screening of screenings | async">
        <td>{{screening.id}}</td>
        <td>{{screening.room}}</td>
        <td>{{screening.date}}</td>
        <td class="buttons">
          <button class="btn btn-info">Reserve ticket</button>
          <button class="btn btn-info">Buy ticket</button>
        </td>
      </tr>
      <tr>
        <td>Koronaświrus</td>
        <td>3</td>
        <td>09-05-2020 19:30</td>
        <td class="buttons">
          <button class="btn btn-info">Reserve ticket</button>
          <button class="btn btn-info">Buy ticket</button>
        </td>
      </tr>
      <tr>
        <td>Harry Potter</td>
        <td>1</td>
        <td>10-05-2020 15:00</td>
        <td class="buttons">
          <button class="btn btn-info">Reserve ticket</button>
          <button class="btn btn-info">Buy ticket</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
