<hr/>
<h2>Home page</h2>
<hr/>
<div class="container">
  <header class="jumbotron">
    <h4>Cinemix podjęło decyzję o przesunięciu daty otwarcia kin</h4>
    <hr/>
    <p>Cinemix w Polsce zdecydowało o przesunięciu daty otwarcia swoich kin do czasu otrzymania jasnych wytycznych
      odnośnie obostrzeń w jakich kina mogą być otwarte i dopóki nie będzie możliwe dostarczenie naszym Klientom
      rozrywki i wrażeń kinowych z pełną ofertą najnowszych premier.</p>
    <p>Biorąc pod uwagę obecną sytuację i oświadczenie rządu, Cinemix ogłosiło, iż oczekując na dodatkowe wytyczne
      sanitarne w jakich kina mogą działać, podjęło decyzję, że nie otworzy swoich kin z początkiem czerwca. Firma jest
      w stałym kontakcie z władzami i analizuje sytuację, aby poznać szczegóły i mieć pewność czy działając w
      narzuconych restrykcjach jest w stanie działać bez strat finansowych.</p>
    <p>Drugim powodem przesunięcia daty otwarcia kin są niepotwierdzone daty nadchodzących premier filmowych. Gdy tylko
      pojawią się jasne informacje na temat ograniczeń, a daty premier dużych produkcji filmowych zostaną potwierdzone,
      firma ogłosi datę otwarcia kin.</p>
    <p>“Chcielibyśmy jak najszybciej otworzyć nasze kina i dostarczać klientom najlepszą rozrywkę z szeroką gamą filmów.
      Datę otwarcia naszych kin podamy, gdy tylko będziemy w stanie realizować nasze usługi w bezpiecznych
      warunkach.”</p>
    <p>Wielu naszych fanów, podczas kiedy kina były zamknięte, wyrażało chęć jak najszybszego powrotu. „My również nie
      możemy się doczekać, żeby ponownie powitać naszych widzów i dostarczyć im najlepszą filmową rozrywkę na dużym
      ekranie.”</p>
    <hr/>
    <h5>Pozdrawiamy, zespół twórców projektu Cinemixa ;)</h5>
    <!--<p>{{ content }}</p>!-->
  </header>
</div>
